<?php

/**
 * @var $this Sparcksoft_Friendgate_Block_Product
 */

?>
<?php if ($this->isEnabled()): ?>
    <div id='friend-gate'>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->getDiscountHeader(); ?></h2>
            <p>
                <?php if ($this->isAuthenticated()): ?>
                    <?php if ($this->isUnlocked()) { ?>
                        <?php echo $this->__("<b>Congratulations!</b>  You've unlocked the discount by getting enough friends to like the product.  Click <b>add to cart</b> below to complete your purchase.") ?>
                    <? } else { ?>
                        <?php echo $this->__('Bring some friends to <b>like</b> this product and earn a discount towards the purchase price.  Click below to share the product directly on Facebook.'); ?>
                    <? } ?>
                <?php else: ?>
                    <?php echo $this->__('Click to connect so that you can unlock special discounts.'); ?>
                <?php endif; ?>
            </p>
            <iframe
                src="//www.facebook.com/plugins/like.php?href=<?php echo urlencode($this->getPageUrl()); ?>&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=25&amp;appId=<?php echo $this->app_id; ?>"
                scrolling="no"
                frameborder="0"
                style="border:none; overflow:hidden; width:450px; height:25px;" allowTransparency="true">
            </iframe>
            <?php if ($this->isAuthenticated()): ?>
                <div id="pictures">
                    <center>
                    <table>
                        <tr>
                            <?php $i = 0; foreach ($this->getFriendsThatLikeThePage() as $friend): $i++; ?>
                                <td <? if ($i == 0) echo "class='first'"; ?> >
                                    <div class='image'><img width=100 height=100 src="<?php echo $this->getFriendPhotoUrl($friend);?>" /></div>
                                </td>
                            <?php endforeach; ?>

                            <? for ($j = $i; $j < $this->getLikesNeeded(); $j++) { ?>
                                <td 
                                    <? if ($j == 0) echo "class='first'"; ?> 
                                    <? if ($j == $this->getLikesNeeded() - 1) echo "class='last'"; ?>
                                >
                                    <img class='placeholder'src="<?php echo $this->getSkinUrl('friendgate/images/facebook-placeholder.jpg');?>">
                                </td>
                            <? } ?>
                        </tr>
                    </table>
                    </center>
                </div>
            <?php else: ?>
                <div class="buttons-set">
                    <button onClick="login()" type="submit" title="<?php echo $this->__('Connect via Facebook') ?>" class="button"><span><span><?php echo $this->__('Connect via Facebook') ?></span></span></button>
                </div>
            <?php endif; ?>
        </div>
    </div>
<? endif; ?>
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
//
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '<?php echo $this->getAppId(); ?>', // App ID
            channelURL : '//sparcksoft.com/magento/friendgate/index/channel/', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            oauth      : true, // enable OAuth 2.0
            xfbml      : true  // parse XFBML
        });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously

    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

    function login()
    {
        FB.login(function(response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function(response) {
                    ajax_token(FB.getAccessToken());
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {scope: 'email,user_likes,friends_likes'});
    }

    function ajax_token($token)
    {
        params = {};
        params.access_token = $token;

        var request = new Ajax.Request(
            '<?php echo $this->getUrl("friendgate/ajax/") ?>',
            {
                method: 'get',
                onComplete: function(transport) {
                    var jsonResponse=transport.responseText;
                    if(jsonResponse.error){
                        alert("Error Occured");
                        return false;
                    }
                    else
                    {
                        if (transport.responseText.isJSON())
                        {
                            var response = transport.responseText.evalJSON();
                            window.location.reload();
                        }
                    }
                },
                parameters: params
            }
        );
    }


//]]>
</script>