
div#friend-gate table tr td {
    padding: 7px;
}

div#friend-gate table tr td.first {
    padding-left: 0px;
}

div#friend-gate table tr td.last {
    padding-right: 0px;
}

div#friend-gate .buttons-set {
    margin-top: 1em;
}

div.image {
    background-color: #c4cde0;
    padding: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

div#pictures {
    text-align: center;
}

img.placeholder {
    width: 110px;
    height: 110px;
}

